/* Add CSS Styling */

p.odd {
    background-color: pink;
    font-family: Verdana, 'DejaVu sans', 'sans-serif' ;
}

div#second {
    color: blue;
    font-size: 36px;
}

.size {
    font-size: 24px;
}

div#fourth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}